*{margin: 0; padding: 0;}

main{
    width: 100%;
    height: 100%;
    display: flex; flex-direction: column; align-items: center;
}


#conti{
    background:url("./Educap - Assets/Assets-04.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55%;
    width: 100%;
    height: 90vh;
    display: flex; align-items: center; justify-content: center;
}

#img1_main{
    width: 43%;
    /* padding: 85px; */

    /* margin-top: 85px;
    margin-bottom: 50px; */
}


#div-texto1{
    width: 41%;
    text-align: center;
}


#texto1{
    font-family: Meta-Normal;
    font-Size: 21px; /* 21px */
    color: rgb(150, 150, 150);
    font-style: normal;
    text-align: left;
    Line-Height: 25.2px;
    Letter-Spacing: 0em;

}

#img-leia{
    width: 20px;
    margin-top: 33px;
}

#p-leiamais{
    /* font-family: ; */
    font-size: 17px;
    color: rgb(150, 150, 150);
}

#sobre-li{
    width: 100%;
    background-color: none;
    margin-top: 37px;
    display: flex; flex-direction: row; justify-content: center; align-items: center;
}

.sobre-mn{
    width: 120px;
    height: 4.3em;
    margin-left: 1%;
    border-style: solid;
    border-color: rgb(249, 226, 158) rgb(249, 224, 148) rgb(250, 219, 122) rgb(251, 210, 80) rgb(253, 199, 22) rgb(253, 197, 13) rgb(244, 168, 28);
    display: flex; text-align: center; align-items: center; justify-content: center;
    color: rgb(153, 153, 153);
}











/*  Tirar essa div  (desnecessaria) */
#titulo-bc{
    /* BIBLIOTECA COMUNITÁRIA */
    width: 100%;
    position: relative;


    color: rgb(153, 153, 153);
    margin-bottom: 10px;
    margin-top: 50px;
}
#titulo-bc-titulo{
    margin-left: 20.5%;
    /* Fazer isso em todos os titulos e paragrafros dentro
    das divs */
}
/*  -------------  */



#cont-biblioteca{
    /* Imagem + Parágrafo */
    width: 100%;
    display: flex; flex-direction: row; justify-content: center;
}

.img-biblioteca{
    /* Imagem */
    width: 100%;
}

.cont-img-biblioteca{
    /* Container da imagem */
    width: 40%;
}

#div-p-biblioteca{
    width: 19%;

}

#p-bc{
    color: rgb(153, 153, 153);
    margin-left: 35px;
}












.main-secundaria{
    margin-top: 200px;
    margin-bottom: 200px;
    width: 100%;
    height: 100%;
    display: flex; align-items: center; flex-direction: row;

}

.divs-menores{
    margin-left: 3%;
    width: 11%;
    height: 300px;

}
form{
    width: 100%;
    height: 125px;
    background-color: blue;
}

/*      Parágrafos das divs    */
.divsm-p{
    position: relative;
    margin-top: 39px;
    font-size: 21px;
    color: rgb(3, 111, 239);
    text-decoration: underline;
}

#div-maior{
    width: 41%;
    height: 300px;
    margin-left: 7%;
    margin-right: 3%;
    background-color: rgb(153, 153, 153);

}

#d_maior_form{
    width: 100%;
    height: 300px;
    background-color: blue;
}

#d_m_p{
    margin-top: 20px;
    font-size: 21px;
    color: rgb(3, 111, 239);
    text-decoration: underline;
}

#main_3{
    width: 100%;
    height: 100%;
    display: flex; flex-direction: row; justify-content: center;

}

.d_m3{
    width: 17%;
    height: 500px;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
}

.m3_img{

}

h2{
    margin-top: 37px;
    margin-bottom: 21px;
    Font-Size: 24.6px;
    Color: rgb(193, 193, 193);
}

.m3_p{
    Font-Size: 21px;
    Color: rgb(150, 150, 150);
    Font-Style: normal;
    Text-Align: center;
    Line-Height: 25.2px;
}






/*     Responsivo      */


@media screen and (max-width: 768px) {
    #img1_main{
        width: 74%;
    }
    #conti{
        background-size: 90%;
    }
    #div-texto1{
        width: 67%;
        margin-top: 10px;
    }

    #titulo-bc-titulo{
        margin-left: 9.5%;

    }

    #div-p-biblioteca{
        width: 22%;
    }

    .cont-img-biblioteca{
        width: 59%;
    }

    #main_3{
        /* Tirar essa margin-top dps */
        margin-top: 300px; 
        flex-direction: row;
        align-items: center;
    }
    
    .d_m3{
        width: 24%;

        
    }

    .main-secundaria{
        flex-direction: column;
    }
    #div-maior{
        margin-left: 0; margin-right: 0;
        margin-bottom: 70px;
        width: 66%;
    }
    .divs-menores{
        margin-left: 0; margin-right: 0;
        width: 29%;
        height: 100%;
        margin-top: 37px;
    }
    .div-menor-form{
        height: 174px;
    }
}

@media screen and (max-width: 425px) {
    #conti{
        height: 60vh;
    }
    #div-texto1{
        width: 88%;
    }
    #texto1{font-size: 18px;}



    #cont-biblioteca{
        margin: 0;
        width:100%;
        flex-direction: column;
        align-items: center;
    }
    .cont-img-biblioteca{
        width: 100%;
    }
    .img-biblioteca{
        width: 100%;
        
    }
    #div-p-biblioteca{width: 90%;}
    #p-bc{
        width: 100%;
        margin: 0;
    }

    #div-maior{
        width: 86%;
    }
    .divs-menores{
        width: 55%;
    }

    #main_3{
        margin-top: 100px;
        flex-direction: column;
    }

    .d_m3{
        width: 46%;
    }

}

@media screen and (max-width: 375px) {
    #conti{
        height: 50vh;
        background-size: 96%;
    }
    #img1_main{
        width: 79%;
    }

    #sobre-li{
        flex-wrap: wrap;
    }
    .sobre-mn{
        margin: 2px;
        height: 2.3em;
    }

    .main-secundaria{
        margin-top: 100px;
        margin-bottom: 10px;
    }

    #p-bc{
        margin-top: 10px;
    }
}

@media screen and (max-width: 375px) {

    #conti{
        height: 50vh;
        background-size: 99%;
    }
    #img1_main{
        width: 82%;
    }
    #p-bc{
        font-size: 14px;
    }

    #div-maior{
        width: 96%;
    }
}