*{
	margin:0;
	padding:0;
}

body{
	box-sizing: border-box;
}

header{
	height: 100vh;


}

.introdução{
	width: 20%;
	margin: 5%;
}
ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: fixed;
	left: 50%;
}
.menu-item{
	font-family:;
	font-size: 20px;
	color:rgb(129,132,131);
	font-style:;
	text-align:left;
	line-height: 24px;
	letter-spacing: 0em;
	margin: 3%;
	list-style: none;
}
.introdução{
	font-family:;
	font-size: 16px;
	color: rgb(158,158,158);
	font-style: normal;
	text-align: left;
	line-height: 19.2px,
	letter-spacing: 0em;
}
.logo1{
	display: flex;
	justify-content: center;
	align-items: center;

}
.logo{
	width: 150px
	height:36%;
}
.crianças{
	height:32%;
	width: 43%;
}

